.produkContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.produkCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--text-color-2--);
    width: 15rem;
    height: 17rem;
    cursor: pointer;
}

.produkCard:hover {
    box-shadow: 1px 1px 2px var(--text-color-2--);
    transition: all 0.1s ease-in-out;
    background: var(--main-color-5--);
}


.produkCard img {
    width: 60%;
    height: 60%;
}

.produkCard h1 {
    color: var(--text-color-2--);
    font-size: 16px;
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
}

.produkCard p {
    color: var(--text-color-2--);
    font-size: 14px;
    text-align: center;
    padding-top: 0.5rem;
    font-style: italic;
}

.produkIsOpen {
    background: var(--text-color-1--);
    position: fixed;
    box-shadow: 1px 1px 2px var(--text-color-2--);
    border-radius: 5px;
    border: 1px solid var(--text-color-2--);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
}

.produkIsOpen button {
    background: none;
    border: none;
    color: var(--text-color-2--);
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: end;
}

.produkCardIsOpen {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.produkIsOpenInfo {
    display: flex;
    flex-direction: column;
}

.produkIsOpenInfo h1 {
    color: var(--text-color-2--);
    font-size: 1rem;
    font-weight: 600;
}

.produkIsOpenInfo p {
    color: var(--text-color-2--);
    font-size: 0.8rem;
    padding-top: 0.5rem;
    font-style: italic;
}

.produkIsOpenInfo a {
    text-decoration: none;
    color: var(--text-color-1--);
    background: var(--main-color-1--);
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    width: max-content;
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--text-color-2--);
    transition: all 0.3s ease-in-out;
}

.produkIsOpenInfo a:hover {
    background: var(--main-color-2--);
}

.produkIsOpen img {
    width: 50%;   
    height: 50%;
}

@media screen and (max-width: 768px) {
    .produkCard {
        width: 10rem;
        height: 11rem;
        margin: 0.5rem;
        padding: 5px;
    }

    .produkCard img {
        width: 100px;
        height: 100px;
    }

    .produkCard h1 {
        font-size: 12px;
        padding-top: 0.5rem;
    }

    .produkCard p {
        font-size: 10px;
        padding-top: 0.3rem;
    }

    .produkIsOpen {
        width: 20rem;
    }

    .produkIsOpen img {
        width: 150px;
        height: 150px;
    }
}