@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color-1--: #106EBE;
    --main-color-2--: #01257D;
    --main-color-3--: #00ffff;
    --main-color-4--: #aec9d8;
    --main-color-5--: #616b9c;
    --text-color-1--: white;
    --text-color-2--: rgb(0, 0, 0);
    --color-gradient-1--: linear-gradient(to right, #001446, #0f4676);
    --btn-gradient-hover--: linear-gradient(to right, #106EBE, #01257D);
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}