.homePage {
    background: var(--color-gradient-1--);
    width: 100%;
    height: 100vh;
}

.homeContent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.homeInfo {
    width: 50%;
    margin: 0 3rem;
}

.homeInfo h1 {
    color: var(--text-color-1--);
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.homeInfo p {
    color: var(--text-color-1--);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.homeInfo .btnHome {
    margin-top: 2rem;
}

.homeInfo a {
    background: var(--color-gradient-1--);
    color: var(--text-color-1--);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.homeInfo a:hover {
    background: var(--btn-gradient-hover--);
}

.homeVector img {
    width: 400px;
}

@media screen and (max-width: 768px) {
    .homeContent {
        flex-direction: column-reverse;
    }

    .homeVector img {
        width: 200px;
    }

    .homeInfo {
        width: 100%;
        padding: 0 2rem;
    }

    .homeInfo h1 {
        text-align: center;
        font-size: 1.3rem;
    }

    .homeInfo p {
        text-align: justify;
        font-size: 0.8rem;
    }
    .homeInfo .btnHome{
        display: flex;
        justify-content: center;
        width: 100%;
    }   
}



.homeAbout {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.homeAboutContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cardHomeAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cardHomeAboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-color-4--);
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    width: 20rem;
}

.cardHomeAboutContent p {
    text-align: center;
    color: var(--text-color-2--) ;
}

.homeAboutVector img {
    width: 10rem;
}


.produkPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produkPage h1 {
    color: var(--text-color-2--);
    font-size: 2rem;
    font-weight: 600;
    padding-top: 1rem;  
}