.showMassage, .massage {
    display: block;
    color: white;
    background: red;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}


.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.loginContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: var(--main-color-5--);
    padding: 2rem;
    border-radius: 5px;
}

.loginContent h1 {
    color: var(--text-color-2--);
    font-size: 2rem;
    font-weight: 800;
}

.loginContent form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.loginContent form .formInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.loginContent form .formInput label {
    color: var(--text-color-2--);
    font-size: 1rem;
    font-weight: 600;
}

.loginContent form .formInput input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background: whitesmoke;
    color: var(--text-color-2--);
    width: 15rem;
}

.loginContent form button {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background: var(--main-color-1--);
    color: var(--text-color-1--);
    font-weight: 600;
    cursor: pointer;
}

.loginContent form button:hover {
    box-shadow: 1px 1px 2px var(--text-color-2--);
    transition: all 0.2s ease-in-out;
    background-color: var(--main-color-2--);
}

.loginContent form p {
    color: var(--text-color-2--);
    font-size: 1rem;
}

.back {
    margin-top: 1rem;
    color: var(--main-color-1--);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}